.link-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .button-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }

  /* input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
  } */
  .linkTextBox{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }

  .logout-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    display: flex;
    gap: 1rem;
  }
  
  .logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 20px;
    z-index: 1;
    width: 40%;
    height: 60%;
    overflow: auto;  
  }
  
  .modal-content {
    max-height: 500px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  